<%- model_class = Idea -%>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_idea_path,
            :class => 'btn btn-primary' %>
<% @ideas.each do |idea| %>
  <h2><%= link_to "#{idea.title}", idea_path(idea) %></h2>
  <p><%= idea.body %></p>
  <strong>By:<%= link_to idea.user_full_name, idea.user %></strong>
  <br><%= render 'likes/likes', idea: idea %>
  <%= render 'memberships/memberships', idea: idea %>


<% end %>
