<%- model_class = Idea -%>

  <h1><%= @idea.title %></h1>
  <%= @idea.body %>
<dl class="dl-horizontal">
  <%= render 'pictures/pictures' %>
  <dt><strong>By: </strong></dt>
  <dd><%= link_to @idea.user_full_name, @idea.user %></dd>
  <%= render 'likes/likes' %>
  <%= render 'memberships/memberships' %>
  <%= render 'comments/form' %>
  <%= render 'comments/comments' %>
  <br>



</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              ideas_path, :class => 'btn btn-default'  %>
<% if can? :manage, @idea %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_idea_path(@idea), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                idea_path(@idea),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
<% end %>
